* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin: 20px;
}

a {
  text-decoration: none;
  color: #555;
}

p {
  color: #555;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.row .col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.row .col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
.row .col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background: #563434;
}

.header {
  background: radial-gradient(#fff, #ffd6d6);
}
.header .row {
  margin-top: 70px;
  display: flex;
}

.small-container, .brands, .testimonial, .categories {
  max-width: 1080px;
  padding-left: 25px;
  padding-right: 25px;
}
.small-container .row2, .brands .row2, .testimonial .row2, .categories .row2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 40px;
}
.small-container .row2 .col-3, .brands .row2 .col-3, .testimonial .row2 .col-3, .categories .row2 .col-3 {
  flex-basis: 30%;
  display: inline-block;
  height: auto;
  margin-bottom: 30px;
}

.categories img {
  width: 100%;
  height: 100%;
}

.small-container, .brands, .testimonial, .categories {
  max-width: 1080px;
  padding-left: 25px;
  padding-right: 25px;
  margin: auto;
}
.small-container .title, .brands .title, .testimonial .title, .categories .title {
  margin: 0 auto 80px;
  text-align: center;
  line-height: 60px;
  position: relative;
  color: #555;
}
.small-container .title::after, .brands .title::after, .testimonial .title::after, .categories .title::after {
  width: 80px;
  content: "";
  background: #ff523b;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
}
.small-container .row, .brands .row, .testimonial .row, .categories .row {
  display: flex;
  justify-content: space-between;
}
.small-container .row .col-4, .brands .row .col-4, .testimonial .row .col-4, .categories .row .col-4 {
  flex-basis: 22%;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 50px;
}
.small-container .row .col-4 img, .brands .row .col-4 img, .testimonial .row .col-4 img, .categories .row .col-4 img {
  width: 100%;
}
.small-container .row .col-4 p, .brands .row .col-4 p, .testimonial .row .col-4 p, .categories .row .col-4 p {
  font-size: 14px;
}

h4 {
  color: #555;
  font-weight: normal;
}

.rating .fa {
  color: #ff523b;
}

.col-4 :hover {
  transform: translateY(-5%);
  transition: transform 0.5s;
}

.col-4 :not(hover) {
  transition: transform 0.5s;
}

.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 0 30px;
}

.row .col-2 .offer-img {
  box-sizing: border-box;
  padding: 100px 150px;
}

small {
  color: #555;
}

a {
  text-transform: capitalize;
}

.testimonial {
  padding-top: 100px;
  text-align: center;
  transition: transform 1s;
}
.testimonial .row2 {
  transition: transform 1s;
}
.testimonial .row2 :hover {
  transform: translateY(-5%);
}
.testimonial .row2 :not(hover) {
  transition: transform 0.5s;
}
.testimonial .row2 .col-3 {
  padding: 15px;
  margin: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
.testimonial .fa-quote-left {
  font-size: 34px;
  color: #ff523b;
}
.testimonial img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}
.testimonial p {
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}
.testimonial h3 {
  font-weight: 600;
  font-size: 16px;
  color: #555;
}

.brands {
  margin: 100px auto;
}
.brands img {
  cursor: pointer;
  filter: grayscale(100%);
}
.brands img:hover {
  filter: grayscale(0);
}

.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 30px 0 20px;
}
.footer p {
  color: #8a8a8a;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}
.footer .col-1, .footer .col-2, .footer .col-3, .footer .col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}
.footer .col-1 {
  flex-basis: 30%;
}
.footer .col-2 {
  flex: 1;
  text-align: center;
}
.footer .col-2 img {
  width: 180px;
  margin-top: 10px;
  max-height: 100%;
}
.footer .col-2 .col-3, .footer .col-2 .col-4 {
  flex-basis: 12%;
  text-align: center;
}
.footer .col-2 .col-3 ul, .footer .col-2 .col-4 ul {
  list-style-type: none;
}/*# sourceMappingURL=style.css.map */